<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="~{header :: commonHeader}"><title></title></head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to the Employee Management System</h1>
            <p class="lead">Manage your employees and departments efficiently.</p>
            <a href="/content" class="btn btn-primary btn-lg">View Content</a>
        </div>
    </div>
</div>
</body>
</html>